* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Main Background */
body {
    background-color: #1e2a38;
    color: #ffffff;
}

.container {
    width: 98%;
    margin: 0 auto;
}

/* Navbar and Logo */
.navbar {
    width: 98%;
    padding: 2% 4%;
        text-align: center;
    display: inline-block;
    background-color: #1e2a38;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo img {
    width: 250px;
    height: auto;
}

.nav-links {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    text-align: right;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
    font-weight: 200;
    margin:5px 30px;
}

.nav-links a:hover {
    color: #ffc024;
}

.search-icon {
    font-size: 20px;
    background-color: #ffc024;
    cursor: pointer;
    padding: 15px;
    color: #1e2a38;
    border-radius: 100%;
    border: 12px solid #766138;
    display: inline-block;
    vertical-align: middle;
}

/* Subscribe Section */
.subscribe-section {
    display: block;
    padding: 2% 4%;    
    color: #1e2a38;
    position: relative;
    margin: 0 auto;
    background-color: #1e2a38;
    border-radius: 10px;
    height: 700px;
}

.subscribe-content,
.subscribe-image {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 49%;
}

.subscribe-content h1 {
    font-size: 4.5em;
    font-weight: bold;
    color: #ffc024;
    text-align: left;
}

h1.white {
    color: #fff;
    margin-bottom: 50px;
}

.form {
    display: block;
margin-right: 30% !important;
}

.form input[type="text"],
.form input[type="email"] {
    display: block;
    padding: 17px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-bottom: 15px;
    outline: none;
    width: 100%;
}

.form button {
    display: block;
    padding: 15px;
    font-size: 20px;
    background-color: #ffc024;
    color: #1e2a38;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    width: 200px;
}

.form button:hover {
    background-color: #ffc024;
}

.subscribe-image {
    text-align: center;
    position: relative;
}

.subscribe-image .main-image {
    width: 90%;
    height: auto;
}

img.icon {
    height: 80px;
    width: 80px;
    object-fit: contain;
}

img.rocket {
    position: absolute;
    top: 5%;
    left: 15%;
}

img.chat {
    position: absolute;
    bottom: 0%;
    left: 5%;
}

img.target {
    position: absolute;
    bottom: -10%;
    right: 15%;
}

img.right-image{
    height: 600px;
    width:auto;
    object-fit: contain;
}
