html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


h1,h2,h3,h4,h5,h6{
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    color:#ffa800;
}
p, a, button{
    font-family: "Poppins", sans-serif;
}

  
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 50px;
    margin-bottom: -130px;
}

.logo {
    display: inline-block;
    float: left;}

.logo{
    width: 230px;
}


ul.nav{
    list-style-type: none;
    text-align: center;
  
  }
  
  .nav li {
    
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }

.nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
}
.nav a:hover , .nav a:active{
    color:#ffa800;
}

.btn {
    padding: 12px 35px;
    background-color: #ffa800;
    color: #000;
    border: none;
    cursor: pointer;
    margin-right: 5%;
    font-size: 1em;
    border-radius: 15px;
    font-weight: 600;
    transition: ease-in-out 0.3s;

}
.btn:hover{
    background-color: #fff;
    color: #000;
    transition: ease-in-out 0.3s;
}

.banner{
    height: 850px;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('banner.jpg');
    background-size: cover ;
background-position: center;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

h1{
    font-size: 4em;
    line-height:0px;
    color: #ffa800;
    
}


.head-text{
    display: flex;
    align-items: center;
    align-items: stretch;
    width: 850px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.head-text p{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
}

.buttons .btn , .btn-2
{
    margin-right: 3%;
}
.btn-2 {
    padding: 12px 35px;  
    background-color: transparent;
    color: #ffa800;
    border: none;
    cursor: pointer;
    margin-right: 5%;
    font-size: 1em;
    border-radius: 15px;
    font-weight: 600;
    transition: ease-in-out 0.3s;
    border: 1px solid #ffa800;

}
.btn-2:hover{
    background-color: #ffa800;
    color: #000;
    transition: ease-in-out 0.3s;
}
.white{
    color: #fff;
}
.form-container {
    display: inline-block;
    width: 1000px;
    text-align: center;
    white-space: nowrap;
    padding: 10px;
    border-radius: 8px;
    margin-top: 40px;
}

.form-title, .form-field, .submit-btn {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.form-title {
    font-weight: 500;
    color: #fff;
    font-size: 20px;
}

.form-field {
    width: 200px;
    border: 2px solid #ffa800;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
}
.form-field::placeholder {
    color: white;
    opacity: 1;
}

.form-container .btn{
    padding: 12px 30px ;
}
.sec-bg{
    background-color: #f0e8d1;
}

.section-2{
    display: flex;
    width: 1280px;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    position: relative;
    margin: 0 auto;
    background-color: #f0e8d1;
    color: #fff;
    
}

.section-2 .left-box {
    width: 50%;
    padding-left: 7%;
    
}
.section-2 .left-box img{
    height: 550px;
    width: 600px;
    object-fit: cover;

}
.section-2 .right-box{
    position: absolute;
    top: 300px;
    left: 40%;
    background: #000000d1;
    padding: 60px;
    height: 250px;
    width: 500px;
}
h2{
    font-size: 35px;
    line-height: 10px;
}

.section-3{
    display: flex;
    width: 1280px;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    position: relative;
    margin: 0 auto;
    background-color: #f0e8d1;
    color: #000000;
    
}

.section-3 .left-box {
    width: 50%;
    
}

.section-3 .right-box{
    width: 50%;
}

h2.black{
    color: #000;
    line-height: 40px;
    padding: 0;
    margin: 0;
}
.before-title{
    color: #000;
    font-size: 20px;
}

.section-3 button.btn.btn-black{
    background: #000 ;
    color: #fff;
}
.section-3 button.btn.btn-black:hover{
    background: #ffa800 ;
    color: #000;
}

.box{
    width: 400px;
    height: 400px;
    padding: 50px 40px 0px 40px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: left;

    
}
i {
    font-size: 60px;
    text-align: left;
    
}
.box-container{
    padding: 0px 80px 80px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.fa-button {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    font-size: 20px;
    color: #000;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    margin-left: -20px;
}

.fa-button i {
    background: #fff;
    font-size: 20px;
    width: 30px;
}


.box p{
    font-size: 20px;
}

.box i{
    padding: 10px;
    background: #ffa800;
    color: #000;
    border-radius: 10px;
}

button.fa-button i{
    background-color: #fff !important;
}

.box.box-black{
    background-color: #000;
    color: #fff;
}

.box.box-black button i, .box.box-black button{
    background-color: #000 !important;
    color: #ffa800;
}

.section-4{
    display: flex;
    width: 1280px;
    justify-content: space-between;
    align-items: center;
    padding: 240px 80px 80px 80px;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    color: #000000;
    
}

.section-4 .left-box {
    width: 50%;
    height: 200px;
    padding-top: 70px;
    background-color: #ffa800;
    margin-left: -500px;
padding-left: 500px;    
}

.section-4 .right-box{
    width: 50%;
    padding-left: 150px;
}

img.chef{
position: absolute;
height: 650px;
width: auto;
left: 400px;

bottom: 0px;


}
